In [1]:
import pandas as pd

In [3]:
df_ratings = pd.read_csv("venv/DATA/ml-latest-small/ratings.csv")

In [4]:
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931